*.pyc
.update-workspace/
droopescan.egg-info/
dist/
.pypirc
build/
dscan/.coverage
dscan/.noseids
dscan/cover
_trial_temp*

# Python virtual environments and dependencies
venv/
env/
.venv/
cement/

# Python cache
__pycache__/
